<div class="dashboard">
    <h1 class="mt-4">Dashboard</h1>
    <p class="lead mb-3">Welcome <%= user.name %></p>
    <h2>Current Active Sessions</h2>
    
    <% activeUsers.forEach((activeUser) => { %>
      <p class="lead mb-3">Session ID: <%= activeUser.sessionID %></p>
      <p class="lead mb-3">User ID: <%= activeUser.userID %></p>
      <form action="/dashboard" method="post">
        <button class="btn btn-link">Revoke Sessions</button>
      </form>
    <% }); %>
  
  </div>
  